{% load bootstrap3 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>easyway</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../media/assets/css/Gilroy-Bold%20☞.css">
    <link rel="stylesheet" href="../media/assets/css/Gilroy-Heavy%20☞.css">
    <link rel="stylesheet" href="../media/assets/css/Gilroy-Light%20☞.css">
    <link rel="stylesheet" href="../media/assets/css/Gilroy-Medium%20☞.css">
    <link rel="stylesheet" href="../media/assets/css/Gilroy-Regular%20☞.css">
    <link rel="stylesheet" href="../media/assets/css/HolidayFree.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Bold.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Bold%20Italic.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Heavy.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Heavy%20Italic.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Italic.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Light.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Light%20Italic.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Medium.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Medium%20Italic.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Regular.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Semibold.css">
    <link rel="stylesheet" href="../media/assets/css/SF%20UI%20Text%20Semibold%20Italic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../media/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../media/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="../media/assets/css/styles.css">
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

<!-- If you use the default popups, use this. -->


<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />

<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand sticky-top navigation-clean-search" style="background-color: #F76565;height: 50px;">
        <div class="container"><a class="navbar-brand" href="./" style="font-family: HolidayFree;font-size: 30px;">EasyWay</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    </nav>
<center>
<div class="container">    
          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
          {% else %}
         <a class="navbar-link" href="{% url 'login' %}">Login</a>
          {% endif %}
      </div>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
    </center>








    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="../media/assets/js/initialise.js"></script>
</body>

</html>